{% extends 'usuario/plantilla.html' %}
{% load static %}

{% block contenido %}
<br><br><br>

<div class="container mt-5">
    <h2 class="text-center text-success">Panel del Usuario</h2>
    <hr>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            
            
            <div class="text-center mb-3">
                {% if usuario.foto_perfil %}
                    <img src="{{ usuario.foto_perfil.url }}" alt="Foto de perfil" class="rounded-circle" width="150" height="150">
                {% else %}
                    <img src="https://via.placeholder.com/150" alt="Foto de perfil" class="rounded-circle">
                {% endif %}
            </div>
            
            <p class="lead">Hola <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>, bienvenido a tu panel.</p>
            <p>Puedes visualizar tus datos, registros y otros recursos permitidos.</p>
            <a href="{% url 'cerrar_sesion' %}" class="btn btn-danger mt-3">Cerrar sesión</a>
        </div>
    </div>
</div>
{% endblock %}
