{% extends 'admin/plantilla.html' %}
{% load static %}

{% block contenido %}
<br><br><br>

<div class="container mt-5">
    <h1 class="text-success text-center">Bienvenido Administrador</h1>
    <hr>

    <div class="text-center mb-3">
        {% if usuario.foto_perfil %}
            <img src="{{ usuario.foto_perfil.url }}" alt="Foto de perfil" class="rounded-circle" width="150" height="150">
        {% else %}
            <img src="https://via.placeholder.com/150" alt="Foto de perfil" class="rounded-circle">
        {% endif %}
    </div>
</div>
{% endblock %}
